///home.page.html
<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button fill="clear" expand="full" (click)="navigateToHoleritePage()" class="green-button">Nova Holerite</ion-button>
    <ion-button fill="clear" expand="full" (click)="navigateToFolhaPagamento()" class="green-button">Consulta</ion-button>
    <ion-button fill="clear" expand="full" (click)="navigateToUsuarioForm()" class="green-button">Sair</ion-button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-img src="https://github.com/Kelvin2206/Folha-Pro/blob/master/src/assets/Logoescrita.png?raw=true" class="header-image"></ion-img>  
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"> 
    <h2>O que é um holerite?</h2> 
    <p>
      Um holerite é um documento fornecido pelo empregador aos funcionários, geralmente mensalmente, que apresenta detalhes sobre o pagamento, incluindo o salário e as deduções. É essencial para acompanhar o pagamento e as obrigações financeiras entre o empregado e o empregador.</p>
      <h2>Para que serve o holerite?</h2>
      <br>
      O holerite serve para vários propósitos:
      <br>
      <ul class="custom-list">
        <li><b>Comprovante de Pagamento:</b> É um documento que comprova que o empregador fez o pagamento ao funcionário, incluindo o valor bruto do salário, bônus e outros benefícios.</li>
        <br>
        <li><b>Transparência Financeira:</b> Fornece uma visão transparente das componentes do pagamento, detalhando os descontos e deduções, como impostos, contribuições previdenciárias e outros descontos legais.</li>
        <br>
        <li><b>Registro de Histórico:</b> Serve como um registro histórico dos pagamentos e remunerações do funcionário ao longo do tempo. </li>
        <br>
        <li><b>Conformidade Legal:</b> Ajuda a garantir que o empregador esteja em conformidade com as leis trabalhistas e tributárias, mostrando que os devidos impostos e contribuições foram retidos e pagos.</li>
        <br>
        <li><b>Negociações Contratuais: </b>Pode ser usado como uma referência para discutir aumentos salariais, promoções ou outras negociações relacionadas à remuneração.</li>
        <br>
      </ul>
      <h2>Quais as vantagens de gerar holerite online?</h2>
      <br>
      <p>Gerar holerites online oferece várias vantagens em relação aos métodos tradicionais de criação e distribuição de holerites em papel. Aqui estão algumas das principais vantagens:
          <br>
        </p>
          <br>
        <ul class="custom-list">
          <li><b>Economia de Tempo:</b> A geração de holerites online é geralmente mais rápida do que a criação manual em papel.</li> 
          <br>
          <li><b>Acesso Fácil:</b> Os funcionários podem acessar seus holerites online de qualquer lugar com acesso à internet.</li>
          <br>
          <li><b>Redução de Custos:</b> A eliminação de papel, impressão e envio postal reduz custos operacionais, tornando-o mais econômico a longo prazo.</li>
          <br>
          <li><b>Sustentabilidade:</b> A abordagem online é mais amigável ao meio ambiente, reduzindo o uso de papel e a pegada de carbono associada à impressão e distribuição de holerites em papel.</li>
          <br>
          <li><b>Redução de Erros:</b> A automação reduz a probabilidade de erros de cálculo, minimizando as discrepâncias e problemas relacionados ao pagamento.</li>
          <br>
          <li><b>Armazenamento Seguro: </b>Os holerites online podem ser armazenados em nuvem de forma segura, facilitando o acesso e a recuperação de informações passadas, caso necessário.</li>
          <br>
          <li><b>Gestão Simplificada:</b> As soluções online muitas vezes integram-se a sistemas de gerenciamento de recursos humanos (RH), facilitando a administração de todos os aspectos relacionados a pagamentos e benefícios.</li>
        </ul>



    </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-row>
        <ion-col size="10">
          <ion-icon class="link"  name="chatbubbles-outline"></ion-icon>
          <a href="https://chat.whatsapp.com/FM5tl1gJwc8ElQRabvYBs8">⠀Suporte</a>
        </ion-col>

      </ion-row>
    </ion-toolbar>
  </ion-footer>
</div>

